@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "BookkMyungjo-Bd";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkMyungjo-Bd.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Pretendard-Regular", "Noto Sans KR", sans-serif;
  font-size: 14px;
  margin: auto;
  color: #222;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: #222;
}
img {
  vertical-align: top;
}
input {
  vertical-align: top;
  font-family: "Pretendard-Regular", sans-serif;
  border: none;
}
input:focus {
  outline: none;
}
button {
  border: 0;
  color: #222;
  font-size: 12px;
  background-color: transparent;
  vertical-align: top;
  font-family: "Pretendard-Regular", sans-serif;
}
select {
  font-family: "Pretendard-Regular", sans-serif;
}
